@import "colors";

.cursor {
  height: 26px;
  width: 26px;
  position: absolute;
  border: 2px solid $red;
  border-radius: 50%;
  transition: transform 0.3s;
  z-index: 1200;
  pointer-events: none;
}

.cursorHover {
  transform: scale(3);
  border: none;
  box-shadow: 0 0 10px $red;
}

.cursorHoverMini {
  transform: scale(0.5);
  box-shadow: 0 0 20px $red;
}

.logo {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 9rem;
  img {
    width: 100%;
  }
}

.franchiseBtn {
  text-decoration: none;
  position: fixed;
  right: 2rem;
  top: 2rem;
  background-color: $brown;
  color: $yellow;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 7px;
  font: 700 14px $text;
  letter-spacing: 2px;
  transform-origin: bottom;
  transition: transform 0.5s;

  &:hover {
    transform: skewX(-10deg);
  }
}

.scrollBtn {
  font-size: 4rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: $white;
  bottom: 5rem;
  animation: mouseScrollAnimation 0.5s linear infinite alternate;
}

@keyframes mouseScrollAnimation {
  to {
    transform: translate(-50%, -10px);
  }
}
